<!-- Carousel================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
        <%= link_to image_tag("1.jpg", alt: "Sorry cant find image :(")%>
          <div class="container">
            <div class="carousel-caption">
              <h1 class="carousel1">Welcome to Christmas for Vets!</h1>
              <p></p>
              <a class="btn btn-lg btn-success" href="http://teespring.com" role="button">Order your T-Shirt Today!</a>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
        <%= link_to image_tag("2.jpg", alt: "Sorry cant find image :(")%>
          <div class="container">
            <div class="carousel-caption">
              <h1 class="carousel2"><%= link_to "Learn", about_path %> About What We Support</h1>
              <p></p>
            </div>
          </div>
        </div>
        <div class="item">
        <%= link_to image_tag("3.jpg", alt: "Sorry cant find image :(")%>
          <div class="container">
            <div class="carousel-caption">
              <h1 class="carousel3"><%= link_to "Learn", start_path %> How to Start!</h1>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="#"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="#"></span></a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->


      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><a href="http://www.woundedwarriorproject.org">Wounded Warriors.</a><span class="text-muted">Some Other Text.</span></h2>
          <p class="lead">Talk about wounded warriors and why it is good to help them .</p>
        </div>
        <div class="col-md-5">
          <%= link_to image_tag("attention1.jpg", alt: "Sorry cant find image :(")%>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <%= link_to image_tag("attention2.jpg", alt: "Sorry cant find image :(")%>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Donating 100% of Profits. <span class="text-muted">Some Other Text.</span></h2>
          <p class="lead">Talk about how we are giving 100% of our profits away.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Support our Troops. <span class="text-muted">Some Other Text.</span></h2>
          <p class="lead">Talk about 100% percent American made etc.</p>
          <a class="btn btn-lg btn-success" href="http://teespring.com" role="button">Order your T-Shirt Today!</a>
        </div>
        <div class="col-md-5">
          <%= link_to image_tag("attention3.jpg", alt: "Sorry cant find image :(")%>
        </div>
      </div>


      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->